{
  "FIREBASE_WEB_API_KEY": "YOUR_WEB_API_KEY_HERE",
  "FIREBASE_WEB_AUTH_DOMAIN": "budgetrix-621fc.web.app",
  "FIREBASE_WEB_PROJECT_ID": "budgetrix-621fc",
  "FIREBASE_WEB_STORAGE_BUCKET": "budgetrix-621fc.firebasestorage.app",
  "FIREBASE_WEB_MESSAGING_SENDER_ID": "798869179023",
  "FIREBASE_WEB_APP_ID": "1:798869179023:web:1aa734ee5d493dd2227efa",
  "FIREBASE_WEB_MEASUREMENT_ID": "G-M84LKW7BV7",
  "GOOGLE_SIGNIN_CLIENT_ID": "YOUR_GOOGLE_SIGNIN_CLIENT_ID_HERE"
}
